@import './test.sass';
.a{
    width: $wid;
    height:$wid;
    background-color: $ar;
    transition: $transi;
}
.a1{
    @extend .a;
}
.a1{
    transform: rotate(60deg);
    background-color: green;
}