@charset "UTF-8";
/* 我是作者 */
/*!我是强调注释作者*/
.div span {
  color: rgba(255, 255, 0, 0.75); }

.div .text {
  font-size: 50px; }
  .div .text p {
    font-weight: 900; }

.text p {
  color: blue; }

.text:hover {
  background-color: rgba(255, 255, 0, 0.75); }

p:hover {
  background-color: skyblue; }
